<br><br><br>
  <!--  INICIO FOOTER -->
  <footer class="bg-light text-center text-white">
    <div class="container p-4 pb-0">
      <section class="mb-4">
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #dd4b39;"
          href="/contactanos"
          role="button"
          target="blank"
        >
          <img src="/images/gmaillogo.png" alt="gmail-logo" width="30px" height="30px">
        </a>
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #2abe31;"
          href="https://api.whatsapp.com/send?phone=573168377671"
          role="button"
          target="blank"
        >
          <img src="/images/wpplogo.png" alt="wpp-logo" width="30px" height="30px">
        </a>
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #4454e6;"
          href="https://www.facebook.com/pcmobilred"
          role="button"
          target="blank"
        >
          <img src="/images/facelogo.png" alt="wpp-logo" width="28px" height="28px">
        </a>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:<a class="text-white" href="/">Pc-Mobilred</a>
    </div>
  </footer>
  <!--  FIN FOOTER -->

  <!-- AQUI COLOCAMOS EL ARCHIVO DE SCRIPTS DE BOOTSTRAP -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>