<%- include layouts/header.ejs %>
  <br>
  <div class="container">
    <h1><%= title %></h1>
    <form>
      <div class="mb-3">
        <label for="inputNombre" class="form-label">Nombre*</label>
        <input type="text" class="form-control" id="inputNombre" placeholder="Nombre" required>
      </div>
      <div class="mb-3">
        <label for="inputCorreo" class="form-label">Correo Electrónico*</label>
        <input type="email" class="form-control" id="inputCorreo" placeholder="nombre@ejemplo.com" required>
      </div>
      <div class="mb-3">
        <label for="inputAsunto" class="form-label">Asunto*</label>
        <input type="text" class="form-control" id="inputAsunto" placeholder="Asunto" required>
      </div>
      <div class="mb-3">
        <label for="inputMensaje" class="form-label">Mensaje*</label>
        <textarea class="form-control" id="inputMensaje" rows="3"></textarea required>
      </div>
      <button type="button" class="btn btn-outline-primary">Enviar</button>
      <a href="/" class="btn btn-outline-danger">Cancelar</a>
    </form>
  </div>
<%- include layouts/footer.ejs %>
